* {
    margin: 0;
    padding: 0;
    background-color: #00a8c5
}

h1 {
    background-color:black;
    margin: 0;
    padding: 0;
}

header {
    color: rgb(255, 255, 255);
    font-size: 700%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navbar {
    display: flex;
    align-items:center;
    background-color: rgb(0, 84, 139);
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: white;
    border-color: rgb(0, 84, 139);
    background-color: rgb(0, 84, 139);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
}

.navbar a:hover {
    background-color: rgb(0, 28, 46);
}

h2 {
    font-size: 585%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-left: 30px;
    padding: 0;
    border: 0;
    text-shadow: -7px -7px 7px #000000, 3px -3px 3px #656565, -3px 3px 3px #656565, 7px 7px 7px #000000;
}

.contenedor{
    margin-left: 30px;
    margin-right: 30px;
}

.contenedor2{
    margin-right: 30px;
}

.contenedor4{
    text-align: center;
}

.contenedor5{
    text-align: center;
}

.contenedor6{
    text-align: center;
}

.contenedor7{
    text-align: center;
}

h3 {
    font-size: 585%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    border: 0;
    text-shadow: -7px -7px 7px #000000, 3px -3px 3px #656565, -3px 3px 3px #656565, 7px 7px 7px #000000;
}

h4 {
    font-size: 585%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-left: 30px;
    padding: 0;
    border: 0;
    text-shadow: -7px -7px 7px #000000, 3px -3px 3px #656565, -3px 3px 3px #656565, 7px 7px 7px #000000;
}

h5 {
    font-size: 585%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-left: 30px;
    padding: 0;
    border: 0;
    text-shadow: -7px -7px 7px #000000, 3px -3px 3px #656565, -3px 3px 3px #656565, 7px 7px 7px #000000;
}

h6 {
    font-size: 470%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-left: 30px;
    padding: 0;
    border: 0;
    text-shadow: -7px -7px 7px #000000, 3px -3px 3px #656565, -3px 3px 3px #656565, 7px 7px 7px #000000;
}

footer {
    background-color:black;
    text-align: center;
    color: white;
    font-size: 520%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    text-align: justify;
    color: white;
    font-size: 150%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.text1 {
    font-size: 375%;
    
}

.text2 {
    font-size: 175%; 
}

.text3 {
    font-size: 275%;
}

.text5 {
    background-color:black; width: 100%;
    color: white;
    text-align: center;
    font-size: 45%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.text6 {
    text-align: center;
    font-size: 275%;
}

.text7 {
    text-align: center;
    font-size: 275%;
}

.text8 {
    font-size: 275%;
    margin-left: 30px;
}

.text9 {
    font-size: 275%;
    text-align: center;
}

.text10 {
    font-size: 275%;
    margin-left: 30px;
    margin-right: 30px;
}

.text11 {
    font-size: 37%;
    margin-left: 30px;
    margin-right: 30px;
}

.text12 {
    font-size: 25%;
    margin-left: 30px;
    margin-right: 30px;
}

.text13 {
    font-size: 300%; 
    margin-left: 30px;
    margin-right: 30px;
}

.text18 {
    font-size: 250%; 
    margin-right: 30px;
}

.imagen-centro {
    text-align: center;
    margin-bottom: 50px;
}